{% extends "layout/base.html.twig" %}


{% set msg = {
    "alreadyRegistred" : "L'utilisateur est déjà enregistré",
    "successfullRegistered": "L'utilisateur est enregistré avec succès",
    "formIsInvalid": "Formulaire invalide"
}
%}


{% block zonecontenu %}
    <section class="msg-return">
        {% if msgRegisterUser is defined %}
            {% if msgRegisterUser == 'alreadyRegistred' or msgRegisterUser == 'formIsInvalid' %}
                <div class="alert alert-danger">
                    {{ msg[msgRegisterUser] }}
                </div>
            {% else %}
                <div class="alert alert-success">
                    {{ msg[msgRegisterUser] }}
                </div>
            {% endif %}
        {% endif %}
    </section>
    <section>
        {{ form_start(view) }}
            {{ form_widget(view) }}
        {{ form_end(view) }}
    </section>
{% endblock %}