{% extends "layout/base.html.twig" %}


{% set msg = {
    "alreadyRegistred" : "Cette adresse email est déjà enregistrée, veuillez en choisir une autre",
    "successfullRegistered": "Votre inscription a été enregistrée avec succès, un email vous a été envoyé. La validation de votre compte s'effectuera sous 48 heures.",
    "formIsInvalid": "Formulaire invalide"
}
%}


{% block zonecontenu %}
    <section class="alert alert-info">
        <p> <b>Inscrivez-vous sur le blog, c'est gratuit !</b> </p>
        <p>L'inscription sur le blog vous permet de : </p>
        <ul>
            <li>poster des commentaires</li>
            <li>recevoir nos newsletters</li>
        </ul>
    </section>
    {% if msgRegisterUser is defined %}
    <div class="msg-return">
            {% if msgRegisterUser == 'alreadyRegistred' or msgRegisterUser == 'formIsInvalid' %}
                <div class="alert alert-danger">
                    {{ msg[msgRegisterUser] }}
                </div>
            {% else %}
                <div class="alert alert-success">
                    {{ msg[msgRegisterUser] }}
                </div>
            {% endif %}
    </div>
    {% endif %}
    {% if view is defined %}
        {% form_theme view 'bootstrap_4_layout.html.twig' %}
        <div>
            {{ form_start(view) }}
                {{ form_widget(view) }}
            {{ form_end(view) }}
        </div>
    {% endif %}
{% endblock %}